Brotli==1.0.9
certifi==2021.10.8
click==8.0.4
dash==2.2.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
distlib==0.3.4
filelock==3.6.0
Flask==2.0.3
Flask-Compress==1.11
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
pipenv==2022.1.8
platformdirs==2.5.1
plotly==5.6.0
six==1.16.0
tenacity==8.0.1
virtualenv==20.13.3
virtualenv-clone==0.5.7
Werkzeug==2.0.3
